<!-- About -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">FAQ</h2>
                <h3 class="section-subheading text-muted">In Beautiful Peurto Escondido Mexico!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Location</h4>
                                <h4 class="subheading">Where is the camp?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">The camp is in Puerto Escondido, Oaxaca Mexico. </p>
                            </div>
                        </div>
                    </li>

                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Safety</h4>
                                <h4 class="subheading">Is it safe?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Yes!! Puerto Escondido is far removed from any violence or activity in other parts of Mexico. The area sees many tourists annually and walking around at night/taking taxi's is more than safe.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Getting There</h4>
                                <h4 class="subheading">How do I get there?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    By plane. The airport code for flights to Puerto is PXM and there are several low cost airlines to search for domestic flights from Mexico City such as: Viva, Aeromar and Interjet.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4></h4>
                                <h4 class="subheading">What's  Included</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    •	Deluxe accommodation for 6 nights
                                    •	Hours and hours of daily BJJ instruction from top-level Black belt instructors.
                                    •	Welcome BBQ
                                    •	Breakfast.
                                    •	Daily laundry service for gi's and clothing.
                                    •	All airport transfers to and from Puerto Escondido Airport.
                                    •	Surf lessons for all skill-levels.
                                    •	Complimentary ice cold coconuts after every training session.
                                    •	Great Rolls, good friends and amazing vibes
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Be Prepared</h4>
                                <h4 class="subheading">What day do I need to arrive / leave?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Come any day you like! We start training Monday in the afternoon. If you don’t want to miss out on anything, we recommend you arrive Sunday that way you are relaxed and ready to train on Monday. Camp ends Sunday, however we can easily arrange extra nights at a reduced rate if you would like to stay on any enjoy more of Mexico.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Inclusive</h4>
                                <h4 class="subheading">I’m a complete beginner, can I still join?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Yes!! Classes are designed for everyone!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Inclusive</h4>
                                <h4 class="subheading">What language will the classes be taught in?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    All classes will be taught in English, but we also have native Spanish and Portuguese speakers on hand.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Inclusive</h4>
                                <h4 class="subheading">Is it possible to do private lessons with the instructors?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    Yes, please talk with the instructors directly to make an appointment.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="rounded-circle img-fluid" src="~/Content/agency/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Inclusive</h4>
                                <h4 class="subheading">Is this just a BJJ camp?</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    No, it's much more! Bring your family and friends for a relaxing and fun vacation in paradise. We’ll offer a wide array of excursions, plenty of beach time and ton of off the mat activities for all ages whether they train or not.
                                </p>
                            </div>
                        </div>
                    </li>


                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>
                                Be Part
                                <br>Of Our
                                <br>Story!
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

