<!-- Team -->
<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/agency/img/team/1.jpg" alt="">
                    <h4>Brad Wolfson</h4>
                    <p class="text-muted">Brad is an avid traveler, 20 year student of BJJ, second degree black belt and owner of Soulcraft BJJ, he first visited Puerto Escondido in 2015 through a chance meeting with Adrian through BJJ Globetrotters. After that first trip, he just knew that this magical place would always be a big part of his heart and soul.. Brad is a husband, dog father and academy owner based in New Haven, Ct.</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="~/Content/agency/img/team/2.jpg" alt="">
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Adrian is a Puerto local, avid BJJ practitioner, surfer and family man. Born and raised in Puerto Escondido, he, along with his brothers has been instrumental in the growth of BJJ in the area. He is the co-founder of La Colonia BJJ, a home builder, frozen yogurt mogul, father of 3 and an all-around great dude. </p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
       
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>