<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings  xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="BraintreeEnvironment" value="production"  />
  <add key="BraintreeMerchantId" value="qrmtkndctq5d9f68"  />
  <add key="BraintreePublicKey" value="ypdg68mh8y8mpj6y" />
  <add key="BraintreePrivateKey" value="4379530842a0819d6eb1607e0d4d0f4f"/>
    </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=184.168.194.51;Integrated Security=False;User ID=steve;Connect Timeout=15;Encrypt=False;Packet Size=4096;Initial Catalog=BJJInParadise;Password=sfaSA8993*((#" providerName="System.Data.SqlClient"/>

    </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

 
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->

    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />
  </system.web>
  <!-- PayPal SDK settings -->
  <paypal xdt:Transform="Replace">
    <settings>
      <add name="mode" value="live" />
      <add name="clientId" value="ATc8yNG_xClCkR9bupldp6n5gglZvKmBhP7zzcZ2XfvZvmFlmiLFgpRC1hBt0jC4QeQFxtgHrUXQlfJx" />
      <add name="clientSecret" value="EBPi3eW05rXDOk-hM-qWsTp15pwB9idVnCRNH8nOjb8_JMLs6sGeo0LdFmxD49sSc6n2mtA_GZ_Y-kCJ" />
    </settings>
  </paypal>
  <system.codedom xdt:Transform="Remove">
  </system.codedom>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
