@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@section styles{

    <style>
        #mainNav {
            background: #000 !important;
        }

        #forgotPasswordContainer {
            margin-top: 160px;
        }
    </style>
}<div class="container" id="forgotPasswordContainer">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
