
@section styles{

    <style>
        .row {
            margin-top: 50px;
        }

        #mainNav {
            background: #000 !important;
          
        }
        .slideShow {
            margin-top: 80px;
        }
     
    </style>

}



<div class="container-fluid">
    <div class="slideShow">
        <blockquote class="imgur-embed-pub" lang="en" data-id="a/SZFpO6D" data-context="false"><a href="//imgur.com/SZFpO6D">BJJ In Paradise</a></blockquote>
    </div>

</div>

<script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

@section Scripts {

}
