

@section styles{
    <style>
        #mainNav {
            background: #000 !important;
        }

        #successContainer {
            margin-top: 160px;
        }
    </style>
}
<div class="container" id="successContainer">
    <h3>Thank you for your reservation!</h3>
    <p>You'll be recieving a confirmation shortly! </p>
</div>