
@model BjjInParadise.Core.Models.Booking
@section styles{
    <style>
        #mainNav {
            background: #000 !important;
        }

        #successContainer {
            margin-top: 160px;
        }
    </style>
}

    <div class="container" id="successContainer">
        <h3>Thank you for your reservation!</h3>
        <p>You'll be receiving a confirmation shortly! </p>

        <h3>Order Summary</h3>
        @if (Model != null)
        {
           
            <aside class="drawer dark">
                <h5>Transaction</h5>
                <table cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td>confirmation</td>
                        <td>@Model.BrainTreeTransactionId</td>
                    </tr>
                    <tr>
                        <td>amount</td>
                        <td>@Model.AmountPaid</td>
                    </tr>
                    <tr>
                        <td>status</td>
                        <td>Submitted to PayPal</td>
                    </tr>

                    </tbody>
                </table>
      
  

            </aside>

        }
    </div>