@using BjjInParadise.Business
@model BjjInParadise.Core.Models.Camp
@section styles{
    <style>
        #mainNav {
            background: #000 !important;
        }

        #campsContainer {
            margin-top: 160px;
        }
    </style>
}


<div class="container" id="campsContainer">
    <h4>@Model.CampName</h4>
    <hr />
    
    @Html.Raw(Model.HtmlPageText)
    <br/>
    <br/>
    @{
        var service = DependencyResolver.Current.GetService<CampService>();
        var areAnyCampsAvailableToBeBooked = service.AreAnyCampsAvailableToBeBooked(Model);

    }
    @if (areAnyCampsAvailableToBeBooked)
    {
        @Html.ActionLink("Reserve My Spot", "Index", "Booking", new {id = Model.CampId}, new {@class = "btn btn-success"})
    }
    else
    {
        <p>We're sorry! We're all booked for this camp. Check back soon for our next adventure!</p>
    }
</div>

