
@section styles{

    <style>
        #mainNav {
            background: #000 !important;
        }

        #errorContainer {
            margin-top: 160px;
        }
    </style>


}

    <div id="errorContainer" class="container">
        <img src="~/Images/500.jpg" />
    </div>